# =================================================================================
# Gradle
# =================================================================================
# Игнорируем кэши и артефакты сборки Gradle.
.gradle/
build/

# Не игнорируем сам Gradle Wrapper, он нужен для воспроизводимой сборки.
!gradle/wrapper/gradle-wrapper.jar


# =================================================================================
# Приложение (SoundCloud Bot)
# =================================================================================
# Игнорируем файлы, которые генерирует сам бот во время работы.

# Лог-файлы (текстовые).
*.log
*.log.gz

# Отчеты и временные файлы из папки debug.
/debug/
/backup/
/scripts/

# КРИТИЧЕСКИ ВАЖНО: Никогда не добавляйте .env файл в Git!
# Он содержит ваши секретные ключи и токены.
.env


# =================================================================================
# IDE (IntelliJ, Eclipse, VS Code и др.)
# =================================================================================
# Файлы, специфичные для сред разработки.

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# =================================================================================
# Операционная система
# =================================================================================
# Системные файлы, которые могут случайно появиться в проекте.

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db